
      <ion-card color="dark">
        <ion-card-header no-margin no-padding>
          <ion-card-title text-center no-margin no-padding>
            <h1 no-margin no-padding>
              <ion-skeleton-text  class="title-skeleton-text" padding text-center animated></ion-skeleton-text>
            </h1>
          </ion-card-title>
        </ion-card-header>
        <ion-img  padding src="assets/img/noLoad.png" style="opacity: 0.8!important;"></ion-img>
        <ion-card-content>
          <p>
            <ion-skeleton-text class="parrafo-skeleton-text"></ion-skeleton-text>
          </p>
        </ion-card-content>
      </ion-card>